.list{
    padding: 10px;
    font-family: sans-serif;
    border: grey;;
}

.list h1{
    color: #fff;
}
.list .head input {
    padding:10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 165px;
}

.list .head input:hover {
    padding:10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 165px;
}

.list .head button{
    padding: 10px;
    margin-left: 5px;
    font-size: 16px;
    color: #fff;
    background-color: grey;
    border-color: white;
    border: 2px solid;
    border-radius: 50px;
}

.list .full li{
    background-color: #fff;
    margin: 2px 2px 2px 2px;
    padding: 15px;
    list-style: none;
}

.list .full li:hover{
    background-color: #fb8080;
    margin: 2px 2px 2px 2px;
    padding: 15px;
    list-style: none;
}
ul.full{
    padding: 0;
}